.template-sections {
  display: none;

  &.active {
    display: block;
  }
}

#form-update,
#form-save,
#page-create,
#form-delete {
  display: none;
  margin-left: 5px;

  &.is-visible {
    display: inline-block;
  }
}