.btn-primary {
  color: #ffffff;
  background-color: $brand-main;
  border-color: darken($brand-main, 5);

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: darken($brand-main, 5);
    border-color: darken($brand-main, 10);
  }
}