html {
	height: 100%;
}

body {
  border-top: 4px solid $brand-main;
  background: #f0f0f0;
  background-image: url('../images/light-gray.png');
  padding: 0;
  height: 100%;
  font-size: 14px;
}

a {
  color: $brand-main;
  &:hover {
  	color: darken($brand-main, 20);
  }
}

h1 {
	color: #333333;
	font-size: 28px;
	margin-top: 0;
}
h2 {
	font-size: 24px;
	margin-top: 0;
}
h3 {
	font-size: 20px;
	margin-top: 0;
}
h4 {
	font-size: 16px;
	margin-top: 0;
}

.page {
	min-height: 100%;
	// height: auto !important;
	// height: 100%;
	// margin: 0 auto -80px;
}

// div.push {
// 	height: 80px;
// }

.well {
	padding: 15px;
	background-color: #FFF;
	border: 1px solid #aaa;
  border-bottom-width: 4px;
}

.bg-info {
	background: #D9EDF7;
	border: 1px solid #B7D8EA;
}

.bg-primary {
  background-color: $brand-main;
}

.promo {
  background: $brand-alt-light;
  padding: 15px;
  border: 1px solid $brand-alt;
  border-bottom-width: 4px;
  border-radius: 4px;

  .promo-content {
    color: #000;
    margin-bottom: 0;
  }
}

.panel-default {
  border-color: #aaa;
  border-bottom-width: 4px;

  & > .panel-heading {
    background: #fff;
    color: $brand-main;
  }
}

.jumbotron hr {
  border-color: #aaa;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ecf0f1;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: middle;
  border-top: 1px solid #ecf0f1;
}

table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ecf0f1;
}

table th,
table td {
  border: 1px solid #ddd !important;
}