html {
	height: 100%;
}

body {
  background: #f0f0f0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}

a {
  color: $brand-main;
  &:hover {
  	color: darken($brand-main, 20);
  }
}

h1 {
	color: #333333;
	font-size: 28px;
	margin-top: 0;
}
h2 {
	font-size: 24px;
	margin-top: 0;
}
h3 {
	font-size: 20px;
	margin-top: 0;
}
h4 {
	font-size: 16px;
	margin-top: 0;
}

div.page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px;
}

div.push {
	height: 80px;
}

.well {
	padding: 15px;
	background-color: #FFF;
	border: 1px solid #DDDDDD;
}

.bg-info {
	background: #D9EDF7;
	border: 1px solid #B7D8EA;
}