.event-box {
  .close {
    position: absolute;
    top: 5px;
    right: 25px;
  }

  &.faded {
    opacity: .2;
  }

  .recurring-container {
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}