body {
  background: #fff;
}

.push-half-bottom {
  margin-bottom: 5px;
}

.revision-label {
  position: relative;
  top: 2px;
}

.container-wide {
  width: 95%;
  margin: 0 auto;
}

#main {
  padding: 20px 0;
}

#footer {
  background: #eee;
  padding: 20px;
}