body {
  background: #fff;
}

.push-bottom {
  margin-bottom: 10px !important;
}

.push-half-bottom {
  margin-bottom: 5px !important;
}

.push-half-left {
  margin-left: 5px !important;
}

.flush-bottom {
  margin-bottom: 0 !important;
}

.push-right {
  margin-right: 10px !important;
}

.revision-label {
  position: relative;
  top: 2px;
}

.container-wide {
  width: 95%;
  margin: 0 auto;
}

#main {
  padding: 20px 0;
}

#footer {
  background: #eee;
  padding: 20px;
}