#upload-form {
  #upload-files td {
    vertical-align: middle;
  }

  #upload-files .close {
    float: none;
  }

  #upload-files .faded {
    opacity: .2;
    background: #e74c3c;

    &:hover td,
    &:nth-child(odd) > td {
       background: #e74c3c !important;
    }

    * {
      cursor: not-allowed;
    }
  }
}