.event-box {
  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .dates {
    display: block;
  }

  .start-time {
    display: inline-block;
    font-weight: bold;
  }

  .end-time {
    display: inline-block;
  }

  .seperator {
    display: inline-block;
    padding: 0 10px;
  }

  hr {
    margin: 10px 0;
  }

  .recurring-container {
    background: #eee;
    padding: 10px;
  }

  .start-time-small {
    font-weight: bold;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .event-box {
    .title {
      float: left;
    }

    .dates {
      float: right;
    }
  }
}