body.home {

  .hero {
    position: relative;
    max-height: 500px;
    overflow: hidden;
  }

  .hero-image {
    width: 100%;
  }

  .hero-inner {
    position: absolute;
    left: 0;
    width: 100%;
    top: 45%;
    margin-top: -20px;
    text-align: center;
  }

  .hero-title {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
  }

  #map-canvas {
    border-radius: 4px;
  }

  section[role="content"] {
    .toll-free-line {
      padding: 28px 0;

      .phone {
        font-size: 28px;
        font-weight: bold;
      }
    }

    .current-special {
      background-color: #d9edf7;
      border-color: #bce8f1;
      color: #31708f;

      .fa {
        float: left;
        font-size: 38px;
        margin-top: 2px;
        margin-right: 12px;
        color: #B7D8EA;
      }
    }

    .featured-communities {
      padding: 20px 0;

      .contact {
        border-top: 1px solid #ddd;
        padding-top: 10px;

        span {
          margin-right: 20px;
          color: $brand-main;
          font-weight: bold;
        }

        .fa {
          color: #2C3E50;
          margin-right: 4px;
        }
      }

    }

  }

}

@media (min-width: 410px) {
  body.home {
    .hero-inner {
      margin-top: -10px;
    }
  }
}

@media (min-width: 550px) {
  body.home {
    .hero-title {
      font-size: 28px;
    }
    .hero-inner {
      margin-top: -15px;
    }
  }
}

@media (min-width: 768px) {
  body.home {
    .hero {
      // margin-top: -100px;
    }

    .hero-title {
      font-size: 34px;
    }

    .hero-inner {
      margin-top: 0;
    }
  }
}

@media (min-width: 850px) {
  body.home {
    .hero-title {
      font-size: 40px;
    }
  }
}