.main-navbar {
  margin-bottom: 0;
  padding: 20px 0;
  z-index: 10;

  .navbar-nav > li > a {
    color: #000;

    &:hover {
      color: $brand-main;
      background: none;
    }
  }

  .navbar-nav > .active > a {
    color: $brand-main;
  }

  .navbar-form {
    margin-left: 15px;
    padding-right: 0;
  }

  .navbar-brand img {
    position: relative;
    bottom: 12px;
  }
}

body.home {
	.main-navbar .navbar-nav > li > a {
		color: #FFF;
	}
}