.main-navbar {
  margin-bottom: 0;
  z-index: 10;

  .navbar-nav {
    margin: 0;
  }

  .navbar-nav > li > a {
    color: #000;

    &:hover {
      color: $brand-main;
      background: none;
    }
  }

  .navbar-nav > .active > a {
    color: $brand-main;
  }

  .navbar-brand img {
    position: relative;
    bottom: 8px;
  }

  .navbar-toggle .icon-bar {
    background: #333;
  }

  #main-navbar-collapse {
    border-top: 1px solid #ddd;
  }

  .navbar-form {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: -15px;
  }

}

body.home {
	.main-navbar .navbar-nav > li > a {
		// color: #FFF;
	}
}

@media (min-width: 768px) {
  .main-navbar {
    padding: 20px 0;

    #main-navbar-collapse {
      border-top: none;
    }

    .navbar-brand img {
      bottom: 12px;
    }

    .navbar-form {
      margin-left: 15px;
      padding-right: 0;
      margin-top: 8.5px;
      margin-bottom: 8.5px;
    }

    .navbar-nav {
      margin: 0;
    }
  }
}